/edge_nodes/.DS_Store
/edge_nodes/.DS_Store
/edge_nodes/.DS_Store
/.DS_Store

# Security:
secrets.h
**/secrets.h
**/node_registry.h

# Allowed templates
!example_secrets.h

/diagnostics

serial_monitor.py

/logs

/upcoming_changes

/V.O.I.D_Experiments